name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  publish_image:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: build
        run: docker build . -t fchau1/hello-docker-hub:latest
      - name: publish
        run: |
          docker login -u fchau1 -p ${{ secrets.DOCKER_HUB_TOKEN }}
          docker push fchau1/hello-docker-hub:latest
